header{
	background: #0099cc;
position: relative;
z-index: 999;
padding: 30px 0;
display: block;
}

nav{
	display: block;
}

ul{
	float: left;
display: block;
font-size: 22px;
font-family: 'League Gothic','Bebas Neue','Arial Narrow', Arial, sans-serif;
text-transform: uppercase;
font-weight: normal;
font-style: normal;
text-shadow: 0 0 1px rgba(0,0,0,0.01);
-webkit-font-smoothing: antialiased;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}

/*li {
	display: list-item;
text-align: -webkit-match-parent;
}*/

ul li{
	display: inline;
	color: #237dac;
}

ul li:after {
content: "•";
font-size: 20px;
}

ul li:last-child:after {
content: "";
}

ul li a {
color: #fff;
margin: 0 14px 0 10px;
text-decoration: none;
}

.nav-main{
	float: left;
clear: both;
}

.logo{
/*	float: left;
*/	width: 187px;
}

#home{

	/*background: transparent url(./logo_upReal.png) no-repeat 0px 0px;*/
width: 187px;

display: block;
outline: none;
text-indent: -9000px;
}

#botHeader{
	float: left;
min-width: 470px;
margin: 22px 0 0 47px;
}