{# src/upReal/CoreBundle/Resources/views/main.html.twig #}

<!DOCTYPE HTML>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block headTitle %}En développement{% endblock %}</title>
  </head>
  <body>
    <div id='container'> <!-- '960px pour toute la page' -->
      <header>
        <div id='logo'>
          <img />
        </div>
        <div>
          <div id='topHeader'>
            <div id='topMsg'>
            </div>
            <div id='searchbox'>
            </div>
          </div>
          <div id='botHeader'>
            <nav id='menu'>
              <ul>
                <li>Actualités</li>
                <li>Produits</li>
                <li>Magasins</li>
                <li>Fidélité</li>
                <li>À propos</li>
                <li>Contact</li>
              </ul>
            </nav>
            <div id='userSection'>
              <a href='/user/inscription'><button>Créer un comtpe</button></a>
              <a href='/user/login'><button>Se connecter</button></a>
            </div>
          </div>
        </div>
      </header>

      <div id='page'> <!-- ou section -->
        {% block flashMessages %}{% endblock %}        
        {% block currentPage %}{% endblock %}
      </div>
      <footer>
      </footer>
    </div>
  </body>
</html>